.holder {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  color: #000;
}

/* верхній ряд */
.item:nth-child(1) {
  background: #f2755e;
  flex: 0 0 50%;
  order: 1;
}

.item:nth-child(5) {
  background: #f6b04c;
  flex: 0 0 50%;
  order: 2;
}

/* нижній ряд */
.item:nth-child(3) {
  background: #5b3f91;
  flex: 0 0 33.33%;
  order: 3;
}

.item:nth-child(2) {
  background: #5b86b0;
  flex: 0 0 33.33%;
  order: 4;
}

.item:nth-child(4) {
  background: #3e7c27;
  flex: 0 0 33.33%;
  order: 5;
}
